{{ define "main" }}

{{ with .Params.banner }}
{{ with .fullscreen }}
  {{ $bg := resources.GetMatch .backgroundImage }}
  {{ $darkBg := resources.GetMatch .backgroundImageDark }}
  <div class="banner-fullscreen lg:h-screen bg-no-repeat bg-cover bg-center banner-img bg-[url('{{ $bg.RelPermalink }}')] dark:bg-[url('{{ $darkBg.RelPermalink }}')] relative ">
{{ end }}
<section class="section pt-20 pb-0 lg:pt-36 xl:pt-36">
  <div class="container">
    <div class="row justify-center">
      <div class="lg:col-8 xl:col-6 md:col-9 mb-8 text-center p-6 rounded-xl bg-body/50 dark:bg-darkmode-body/50 lg:bg-transparent dark:lg:bg-transparent">
        <h1 class="mb-4 text-h3 lg:text-h1">
          {{ .title | markdownify }}
        </h1>
        <p class="mb-8">
          {{ .content | markdownify }}
        </p>
        <div class="flex flex-wrap justify-center">
        {{ with .primaryButton }}
          <a
            class="btn btn-primary m-3"
            href="{{ .link | absURL }}"
            {{ if strings.HasPrefix .link `http` }}
              target="_blank" rel="noopener"
            {{ end }}>
            {{ .label }}
            <i class="fa fa-arrow-right pl-2"></i>
          </a>
        {{ end }}
        {{ with .secondaryButton }}
          <a
            class="btn btn-outline-primary lg:inline-block m-3"
            href="{{ .link | absURL }}">
            {{ .label }}
          </a>
        {{ end }}
        {{ with .image }}
          <div>
            {{ partial "image" (dict "Src" . "Alt" "Banner image" "Loading" "eager" "Class" "mx-auto lg:!max-w-[800px]" "DisplayXL" "800x" ) }}
          </div>
        {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ with .fullscreen }}
  </div>
  {{ end }}
{{ end }}

<!-- Features -->
  {{ range $i, $e:= .Params.features }}
    {{ if .target }}<a id="{{ .target }}"></a>{{ end }}
    <section class="section-sm {{ if (modBool $i 2) }}bg-gradient{{ end }}">
      <div class="container">
        <div class="row items-center justify-between">
          <div
            class="mb:md-0 {{ if not (modBool $i 2) }}
              md:order-2
            {{ end }} md:col-5 mb-6">
            {{ partial "image" (dict "Src" .image "Alt" "feature image" "DisplayXL" "520x" "DisplayLG" "425x" "DisplayMD" "360x") }}
          </div>
          <div
            class="{{ if not (modBool $i 2) }}
              md:order-1
            {{ end }} md:col-7 lg:col-6">
            <h2 class="mb-4">
              {{ .title | markdownify }}
            </h2>
            <p class="mb-8 text-lg">
              {{ .content | markdownify }}
            </p>
            <ul>
              {{ range .bulletpoints }}
                <li class="relative mb-4 pl-6">
                  <i class="fa fa-check absolute left-0 top-1.5"></i>
                  {{ . | markdownify }}
                </li>
              {{ end }}
            </ul>
            {{ with .button }}
              {{ if .enable }}
                <a class="btn btn-primary mt-6" href="{{ .link | absURL }}">
                  {{ .label }}
                  <i class="fa fa-arrow-right pl-2"></i>
                </a>
              {{ end }}
            {{ end }}
          </div>
        </div>
      </div>
    </section>
  {{ end }}
  <!-- /Features -->


{{ end }}